div.vtem-contact-form .vt_inputbox,
div.vtem-contact-form .vtem_contact_button{
background-image:url(bg.png);
background-position:left center;
background-repeat:repeat-x;
border:1px solid #ddd;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
padding:5px;
}
div.vtem-contact-form textarea.vt_inputbox{overflow:auto;}
div.vtem-contact-form .invalid{
border:1px solid #c00;
background-color:#FFECEC;
}
div.vtem-contact-form .vtem_contact_button{
background-color:#f80; 
font-weight:bold; 
border:1px solid #c60; 
cursor:pointer;
padding:5px 10px;
}
.vt_captcha{
background-image:url(captcha.png); 
width:80px; 
height:30px; 
font-weight:bold; 
display:block; 
text-align:center; 
line-height:30px; 
font-size:20px;
color:#333;
}
.vtem-contact-form table td{padding:3px 0;}