/* -------------------------------------------------------------
	© IceTheme 2013
---------------------------------------------------------------- */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element{width:2px;} 


/* General.css */
body {
	background:#EBE1E2;}

body .button {
	background-color:#c99698;}
	
	body .button:hover {
		background-color:#BF8F91;}
	
#topbar {
	background-color:#AF2011;}
	
#header {
	background:url(../../images/styles/style4/header_effect.jpg);
	background-color:#D0452D;}	

#message {
	background:#B17E80;}
	
	#message:before, 
	#message:after {
		color:#D4B3B5;}
		
	body .button.apply {
		background-color:#A76E70;}
	
	body .button.apply:hover { 
		background-color:#9D5F61;}
			
	#copyright_area {
		border-top-color: #DEC6C1}
		
		p#icelogo a {
			background-image:url(../../images/styles/style4/icetheme.png);}


		
/* default_icemegamenu.css */
.icemegamenu > ul > li:hover > a.iceMenuTitle span.icemega_title,
.icemegamenu > ul > li.active > a.iceMenuTitle span.icemega_title {
	background:url("../../images/styles/style4/active_menu.png") no-repeat;}
	
	.icemegamenu > ul > li:hover > a.iceMenuTitle span.icemega_title:after, 	
	.icemegamenu > ul > li.active > a.iceMenuTitle span.icemega_title:after {
		background:url("../../images/styles/style4/active_menu.png") no-repeat right;}
			
	ul.icesubMenu {
		background:#AF2011;
		background:rgba(175, 32, 17, 0.9);}

	.icesubMenu .icemega_cover_module form#login-form .input-prepend .add-on {
		background:#D8928A; }
		
.ice-megamenu-toggle a {
background:#D65741} 

.ice-megamenu-toggle a:hover {
	background: #DB6A56}	


/* Iproperty.css */

body #ip-searchfilter-wrapper { background: #F6DCD7;}

#ip-searchfilter-wrapper.well { border-color:#DEC6C1;}

#ip_search > .container {
	background-color:#DECECF;
	background-image:url(../../images/styles/style4/ip_search_bg_right.png), url(../../images/styles/style4/ip_search_bg_left.png);}			
		
	#ip_search .moduletable h3.mod-title {
		border-bottom:5px solid #B69293;
		color:#976566}		

	body #ip_search .btn-info {
		background-color:#c99698}
		
	body #ip_search .btn-info:hover {
		background-color:#D2A7A9;}
		
	body #ip_search .btn-primary {
		background-color:#c87122}
		
	body #ip_search .btn-primary:hover {
		background-color:#DB7D29;}		
		
		#ip_search > .container	input[type="text"],
		#ip_search > .container select {
			border-color:#D4BFC0}
		
			#ip_search > .container	input[type="text"]:focus,
			#ip_search > .container select:focus {
				border-color:#C0A1A2;}	
	
	.ip_carousel ol.flex-control-nav {
		background-color:#f5f0f1;}	
		
	.ip_carousel ol.flex-control-nav li a {
		background:#e1d2d5;}
	
		.ip_carousel ol.flex-control-nav li a:hover {
			background: #c93c24;}
		
		.ip_carousel ol.flex-control-nav li a.flex-active { 
			background: #c93c24;}
			
	body img.img-polaroid {
		background:#E1D2D3;
		border-color:#D7C3C4}
	

/* modules.css */

	#promo .moduletable h3.mod-title{
	background-color:#C93C24;
	background-image:url(../../images/styles/style4/promo_heading_left.png), url(../../images/styles/style4/promo_heading_right.png);}
	
	#bottom .moduletable h3.mod-title{
	background-color:#C99698;
	background-image:url(../../images/styles/style4/bottom_heading_left.png), url(../../images/styles/style4/bottom_heading_right.png)}
	
			
#sidebar .sidebar_module h3.sidebar_module_heading:before,
#sidebar .sidebar_module h3.sidebar_module_heading:after {
	background-image:url(../../images/styles/style4/heading_effect.png);}
	
		#sidebar .sidebar_module h3.sidebar_module_heading > span {
			background-color:#c93c24;}
					
		/* "sidebar" Modules with style1 surfix */	
		#sidebar .sidebar_module_style1 h3.sidebar_module_heading > span {
			background-color:#c99324}
		
		/* "sidebar" Modules with style2 surfix */			
		#sidebar .sidebar_module_style2 h3.sidebar_module_heading > span {
			background-color:#c99698}

	#iceslideshow .carousel-control {
		background:#C87122;
		background:rgba(200, 113, 34, 0.7)} 
		
		#iceslideshow .carousel-control:hover {
			background-color:#C87122}
			
	#iceslideshow .iceslideshow {
		background-color:#E1D2D3;}
